body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    background-color: #ffffff;
    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center items horizontally within the container */
    margin-top: 20px; /* Add some margin from the top if needed */
}

.square {
    width: 200px; /* Adjust width to fit two squares per row with gap */
    height: 200px; /* Set the height of the square */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20%;
    position: relative; /* Add relative positioning */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effect and color change */
    border: 2px solid black; /* Add border */
    box-shadow: 4px 4px black; /* Add shadow */
}

.square:active {
    box-shadow: 0px 0px black;
    transform: translate(3px, 3px);
}

.square1, .square2, .square3, .square4 {
    z-index: 0;
    background-color: lightblue;
}

.square5 {
    z-index: 1;
    background-color: #C4A484;
}

.square6 {
    z-index: 2;
    background-color: #8CC076;
}

.square7 {
    z-index: 3;
    background-color: #3B5CA1;
}

.square8 {
    z-index: 4;
    background-color: #7F796D;
}
.titre {
    position: absolute; /* Position the text absolutely */
    bottom: 10px; /* Position 10px from the bottom */
    right: 10px; /* Position 10px from the right */
    color: black;
    z-index: 1;
    font-size: 22px;
}

.corner-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 90px; /* Adjust the size as needed */
    height: 90px; /* Adjust the size as needed */
    z-index: 2;
}